
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.block-title {
  text-align: center;
  padding: 118px;

}
.block-title-last{
  text-align: center;
  padding: 100px;
}



.title {
  color: #181919;
  font-size: 2em;
  font-weight: 700;
  font-family: Montserrat;
  padding-bottom: 2px;
  text-transform: uppercase;
  position: relative;
  right: -11px;
  word-spacing: 5px;
}

.subtitle {
  color: #858686;
  font-size: 18px;
  font-family: Merriweather;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;

}