

header {
  background-color: #eff0f2;
  height: 806px;
  position: relative;

}

.header__logo {
  border: 6px #170f1c solid;
  height: 46px;
  width: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: Montserrat-Bold;
  margin-bottom: 194px;


}

.header__logo-img {
  position: relative;
  bottom: -3px;
}


.header__inner {
  padding-top: 64px;
  position: relative;
  height: 100%;
}

.header__title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  color: #505050;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  font-family: Montserrat-Bold;
  margin-bottom: 153px;

}
.header__title-bg{
  background-color: #b2f2ee;
  padding: 0 11px;
}

.header__title-bg:first-child{
  padding-left: 3px;
}

.header__button{
  text-align: center;
}



.header__button-link {
  font-size: 17px;
  color: #3c3c3d;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 46px;
  border: 2px solid #777879;
  letter-spacing: 2.5px;
  word-spacing: 3px;
  transition: background-color .2s linear, color .2s linear;
  &:hover{
    background-color: #3c3c3d;
    color: #fff;

  }

}

.header__img{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
}

.header__img-item{
  position: absolute;

}

.glass{
  z-index: 1;
  top: -20px;
}